.channelTextArea_f75fb0 {
    transition: all 0.2s ease;
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 16px;
}

.channelTextArea_f75fb0:focus-within {
    transition: all 0.2s ease;
    border: 1px solid rgb(161, 161, 161); /* Jaśniejszy kolor, gdy textarea ma fokus */
}

.channelTextArea_f75fb0:hover {
    transition: all 0.2s ease;
    border: 1px solid rgb(161, 161, 161)
}

.textArea__74017 {
    transition: all 0.2s ease;
    /* Tu możesz dodać style dla textarea, jeśli potrzebujesz */
}

.scrollableContainer__74017 {
    background: rgba(58, 58, 58, 0.651);
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
}

.scrollableContainer__74017:hover {
    background: rgb(56, 56, 56);
}

.placeholder__1b31f {
    color: rgb(207, 207, 207);
}

.imageWrapper_af017a {
    border-radius: 20px;
}

.button__201d5 {
    border-radius: 8px;
}

.outer_c0bea0 {
    border-radius: 18px;
}

.root__24502 {
    border-radius: 18px;
}

.modalSize_a55fdc {
    border-radius: 18px;
    background: rgb(37, 37, 37);
}

.flex__7c0ba {
    background: transparent;
}


.experimentWrapper__1405b {
    background-color: transparent;
}

.eventPromptsContainer__1405b {
    background-color: transparent;
}

.horizontal__7c0ba {
    background-color: transparent;
}

.inputDefault__0f084 {
    background: rgb(37, 37, 37);
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 13px;
}

.divider__46c3b {
    border-top: thin solid rgb(53, 53, 53);
}

.select__3f413 {
    background: rgb(37, 37, 37);
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 13px;
}

.searchable__3f413 {
    background: rgb(37, 37, 37);
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 13px;
}

.item__344e6 {
    transition: all 0.2s ease-in-out;
}

.item__344e6:hover {
    background-color: rgb(51, 51, 51);
}

.container__3dde2 {
    background: rgb(37, 37, 37);
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 13px;
}

.inner_a45028 {
    background: rgb(37, 37, 37);
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 13px;
}

.inner_a99829 {
    background: rgb(37, 37, 37);
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 13px;
}

.scroller__6b0e0 {
    background: rgba(46, 46, 46, 0.651);;
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 16px;
}

.autocomplete__13533  {
    border-radius: 16px;
}

.root__49fc1 {
    background: rgba(46, 46, 46, 0.815);;
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 16px;
}

.messageGroupCozy__45690 {
    border: 1px solid rgb(97, 97, 97); /* Bazowy kolor obramowania */
    border-radius: 16px;
}

.messageGroupWrapper__45690 {
    border-radius: 16px;
}
